.card{
    width: 320px;
    height: 290px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

}

.icon{
    margin-top: 30px;
}

.heading{
    font-family: "Inter";
    font-weight: 700;
    color: #4D4D4D;
    font-size: 2rem;
}

.sentences{
    font-family: "Inter";
    font-weight: 400;
    color: #717171;
    font-size: 17px;
    padding: 5px;
}