/* App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.admin-container {
    display: flex;
    flex-direction: row;
}

.admin-left {
    flex: 1;
    padding: 20px;
    margin-top: 30px;
    max-width: 400px;
}

.admin-right {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd; /* Add border between left and right sections */
}

.container {
    max-width: 400px;
    margin: 20px auto;
}

h2 {
    color: #333;
}

.user-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card strong {
    font-weight: bold;
}

.userCard-btns{
    display: flex;
    flex-direction: row;
}



.log-entry {
    margin-bottom: 20px;
}
