.btn{
  font-size: 16px;
  font-family: "Inter";
  font-weight: 500; 
  transform: scale(1);
  transition: all 0.3s ease-out;  
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.btn-medium {
  border-radius: 10px;
  width: 150px;
  height: 50px;
}

.btn-small {
  border-radius: 10px;
  width: 125px;
  height: 50px;
  margin-right: 5px;
}
  
.btn-primary { 
  border: none;
}

.btn-secondary{
  border: 1px solid;
  border-color: #4CAF4F;
}

.primary {
  background: #4CAF4F;
  color: white;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  justify-content: center;
}

.primary:hover {
  color: #4CAF4F;
  border-color: #4CAF4F;
  background:white;
}

.secondary {
  background: white;
  color: #4CAF4F;
  justify-content: center;
}

.secondary:hover {
  color: #4CAF4F;
  border-color: #4CAF4F;
  background:white;
}
  
  
@media screen and (max-width: 960px){
  .btn-primary{
    width: 45vw;
    justify-content: center;
    height: 50px;
  }
}