.btn-medium {
    border-radius: 10px;
    font-size: 3vw;
    cursor: pointer;
  }
  
  .btn-primary { 
    width: 150px;
    height: 50px;
    border: none;
    font-size: 3vw;
    font-family: "Inter";
    font-weight: bold;
    transform: scale(1);
    transition: all 0.3s ease-out;
  }
  .btn-primary:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  
  .primary {
    background: #4CAF4F;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 500; 
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    justify-content: center;
  }

  .primary:hover {
    color: #4CAF4F;
    font-weight: 500; 
    border-color: #4CAF4F;
    background:white;
  }
  
  
  @media screen and (max-width: 960px){
    .btn-primary{
      width: 45vw;
      justify-content: center;
      height: 50px;
    }
  }